__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
.eggs/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
.hypothesis/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/

.ipynb_checkpoints/

.vscode/
.idea/

.env
.env.*
.python-version

.DS_Store
*.log
*.sqlite3
*.db

edu_fineweb10B/
hellaswag/
Report-*
log/model_*
wandb/
tinystories/

baby-gpt-sft-tinystories-2026-04-*
